body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(0deg, #ffffff, #ffffff), #ffffff;
}

ul {
  list-style-type: none;
}

a {
  color: #6f757e;
}

.mdl-layout.mdl-js-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 0.875rem;
  max-width: 1280px;
  margin: 0 auto;
}

.mdl-layout {
  height: auto;
}

/**********
 * HEADER *
 **********/

.header {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #e7e8e9;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 1280px;
  margin: 0 auto;
}

.header-logo {
  margin-left: 160px;
}

.header-menu {
  display: flex;
  margin-right: 100px;
}

.menu-item {
  margin-right: 3rem;
}

.menu-item a {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 20px;
}

/**************
 * LOGIN FORM *
 **************/

.login-greet {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 28px;
  color: #27303e;
}

.login-msg {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #6f757e;
}

.login-container {
  width: 80%;
  max-width: 500px;
}

.login-form {
  padding: 30px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.login-form form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.login-form-title {
  display: flex;
  flex-direction: column;
}

.login-step {
  margin-left: 20px;
}

.login-form-title > label {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 24px;
}

.login-form-title > span {
  color: grey;
}

.login-form-actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.login-form-actions > .no-margin-left {
  margin-left: 0px;
}

.login-form-additional-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
}

.login-form-additional-actions > div {
  margin: 5px;
}
.login-form-additional-actions > div a {
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 16px;
  color: #2c6c7b;
}

.login-form-content .input-textfield {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-form-content .input-textfield:last-child {
  margin-bottom: 20px;
}

.login-form-content .input-textfield input {
  border: 1px solid #e7e8e9;
  border-radius: 8px;
  padding: 16px 12px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  color: #6f757e;
}

.login-error-info {
  font-weight: bold;
  color: #ef3b3a;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #e2e5e7;
  margin-bottom: 20px;
}

.login-error-info .error {
  font-weight: bold;
}

.login-error-info .error_description:before {
  content: ' : ';
}

a,
a:hover,
a:focus {
  text-decoration: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.social-login-buttons {
  margin-top: 10px;
}

.social-login-buttons a {
  margin-bottom: 10px;
  background: #fff ;
}

.social-login-buttons a:hover {
  background-color: rgba(158, 158, 158, 0.2) ;
}

.social-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px 16px 28px;
    border: 1px solid #6F757E;
    border-radius: 8px;
    max-width: 120px;
    width: 90%;
    margin:8px ;
}
.social-btn span{
    margin: 0 2px;
}
.mdl-social-button {
  display: flex;
  justify-content: space-between;
}

.mdl-social-button:hover {
  color: transparent !important;
}

.mdl-button {
  min-width: 100px;
  color: #fff;
  padding: 0 22px;
  background: #2c6c7b;
  border-radius: 5px;
}

.custom-signin:hover {
  background-color: #2c6c7bdc !important;
  color: #fff !important;
}

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
  margin-bottom: 10px;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #6f757e;
}
.mdl-button:hover {
  padding: 0 22px;
}

.material-icons {
  font-size: 1.5rem;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.flex-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.btn-linkedin {
  background-color: #fff !important;
}

.socialIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e6b7b !important;
}

.gap9 {
  gap: 11px;
}

.gap6 {
  gap: 6px;
}

.social-link-button:hover {
  background-color: rgba(158, 158, 158, 0.2) !important;
}

.togglePasswordEye {
  cursor: pointer;
  position: relative;
  bottom: 36px;
  left: 9px;
}

.hidePassword {
  display: none;
}

/**********************
 * HEADER MOBILE VIEW *
 **********************/
@media (max-width: 820px) {
  /* Enable sticky to stick the nav bar to the top*/

  /* .header {
        position: sticky;
        top: 0;
        z-index: 999;
    } */
    *{
        font-size: 14px;
    }

  .header-logo {
    margin-left: 20px;
  }

  .header-menu {
    display: none;
  }
  /* Social Login */
  .mdl-social-button {
    flex-wrap: wrap;
  }
  .social-btn{
    padding: 12px;
    max-width: 100px;
    width: 100%;
}
}
